.spinner {
    width: 30px;
    height: 30px;
    position: relative;
    display:inline-block;
    vertical-align: middle;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0057AE;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}


.loadding {
    width: 32px;
    height: 32px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-30px;
    margin-left:-30px;
}

.cube1, .cube2 {
    background-color: #15A892;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:50%;
    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}
.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
    background-color:#DE1B39;
}

@-webkit-keyframes cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% {
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}
#signup-form            { position:relative;overflow:hidden;}
/*.home-banner{background:url(../img/banner1.jpg) no-repeat center top;}*/
#form-views             { width:auto;height:100%;}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
/*#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:0; right:0;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}*/

/* enter animation */
/*#form-views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}*/

/* leave animation */
/*#form-views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}*/

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
/*@keyframes slideOutLeft {
    to         { transform: translateY(-200%); }
}
@-moz-keyframes slideOutLeft {
    to         { -moz-transform: translateY(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to         { -webkit-transform: translateY(-200%); }
}*/

/* slide in from the right */
/*@keyframes slideInRight {
    from     { transform:translateY(200%); }
    to         { transform: translateY(0); }
}
@-moz-keyframes slideInRight {
    from     { -moz-transform:translateY(200%); }
    to         { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInRight {
    from     { -webkit-transform:translateY(200%); }
    to         { -webkit-transform: translateY(0); }
}*/