/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input,p,th, td,button{margin:0;padding:0; font-family:'Microsoft Yahei';}
img,button{border:0; vertical-align: middle;}
table{border-collapse:collapse;border-spacing:0; table-layout:fixed}
button{ outline:none;}
ol, ul{list-style:none}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select:focus{outline:none;}
a{text-decoration:none;}
a{outline: none; /* for Forefox */ }
a{star:expression(this.onFocus=this.blur()); /* for Ie*/ }
input::-ms-clear{display:none;}
textarea{resize: none;}
html{font-size:62.5%;}
html,body{height:100%;}
body{ overflow: hidden;font-family:"微软雅黑"}
*{box-sizing:border-box;}

.page-tips{font-size:24px;font-weight:normal;height:30px;line-height:30px;position:absolute;top:50%;margin-top:-15px;left:0;width:100%;text-align:center;color:#999;}
.topBar{height:43px;background:rgba(0,0,0,0.2);position:fixed;width:100%;top:0;left:0;z-index:21;}
.layoutMid{width:1200px;margin:0 auto;}
.nav a{display:inline-block;height:43px;line-height:43px;font-size:14px;color:#eaeaea;margin-right:2em;padding:0 0.5em;}
.nav a.active{border-bottom:2px solid #f00;}

.list{margin-top:30px;}
.list li{display:inline-block;width:25%;}
.list li .list-item{display:block;margin:10px;position:relative;border:1px solid rgba(0,0,0,0.3);border-radius:5px;overflow:hidden;padding-bottom:10px;}
.list li .list-item .thumb{width:100%;height:200px;display:block;}
.list li .list-item p{text-indent:1em;font-size:1.2rem;color:#666;height:24px;line-height:24px;}
.list li .list-item .thumb img{width:100%;height:100%;}
.list li .list-item .title{display:block;font-size:1.4rem;height:3rem;line-height:3rem;color:#FF0000;text-indent:1em;border-bottom:1px solid #f1f1f1;}
.subPage .col:first-child{padding-right:20px;}
.sub-info .title{font-size:2.4rem;color:#1574A8;line-height:3rem;padding:10px 0;border-bottom:1px dashed #ccc;margin-bottom:1rem;}
.sub-info .line{font-size:1.4rem;line-height:2.2rem;color:#666;}
.module-title{position:relative;}
.module-title:before{content:"";display:inline-block;width:5px;height:30px;background:#FF3E62;position:absolute;left:0;bottom:0;}
.module-title .text{display:block;border-bottom:1px solid #E5E5E5;height:30px;line-height:30px;margin-left:10px;font-size:1.6rem;color:#333;}
.module-title .text i{font-style:normal;font-family:"Capsuula";font-size:2rem;}
.introduce p{font-size:1.4rem;color:#333;line-height:24px;text-indent:2em;}
.row{display:table;width:100%;}
.col{display:table-cell;}
.col-25{width:25%;}
.col-50{width:50%;}
.v-t{vertical-align: top;}
.ptb-20{padding-top:20px;padding-bottom:20px;}
.load-more{height:30px;line-height:30px;text-align:center;font-size:16px;color:#666;margin-top:30px;cursor:default;}
.load-more span{display:inline-block;height:30px;line-height:30px;vertical-align: middle;}
.nodata{position:fixed;top:50%;left:50%;width:120px;padding-top:90px;background:url("../img/null.png") no-repeat left top;text-align:center;margin-top:-50px;margin-left:-60px;color:#E2E2E2;font-size:1.6rem;}
/*carousel*/
.carousel{height:70vh;}
.carousel .layer{height:100%;background-position:center center;}
.carousel .layer img{width:100%;}
.pt-43{padding-top:43px;}
.aside{width:240px;float:left;border-right:1px solid #ccc;}
.content{width:960px;float:left;}
/**/
#container{height:100%;background-color: #00c1ff;}
body{
	-webkit-transition: background-color 400ms ease-in-out;
	-ms-transition: background-color 400ms ease-in-out;
	-o-transition: background-color 400ms ease-in-out;
	-moz-transition: background-color 400ms ease-in-out;
	transition: background-color 400ms ease-in-out;}
	#output {
	opacity: 0.3;
	width: 100%;
	height: 100%;
	-webkit-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
/*后台管理*/
.input-table{width:100%;}
.input-table th{font-size:1.4rem;font-weight:normal;color:#333;height:4rem;}
.input{width:100%;line-height:3rem;border:1px solid #f1f1f1;border-radius:0.5rem;padding:0 1em;font-size:1.4rem;color:#666;}
.input::-webkit-input-placeholder{font-size:1.2rem;color:#999;}
.input::-moz-placeholder{font-size:1.2rem;color:#999;}
.input::-ms-input-placeholder{font-size:1.2rem;color:#999;}
.input:focus{box-shadow: 0 0 3px #048BB6;}
.upload{position:relative;height:3rem;width:15rem;background:#048BB6;border-radius:0.5rem;overflow:hidden;}
.upload input{font-size:10rem;opacity:0;filter:alpha(opacity=0);position:absolute;top:0;left:0;width:100%;height:100%;}
.upload label{display:block;width:100%;height:3rem;line-height:3rem;text-align:center;color:#fff;}
.uploaded{display:inline-block;width:2rem;height:2rem;background:#08B750;border-radius:50%;}
.btn:hover{opacity:0.9;filter:alpha(opacity=90)}
.btn:active{opacity:1;filter:alpha(opacity=100)}
/*btn*/
.btn{display:inline-block;height:3rem;line-height:3rem;padding:0 6rem;}
.btn-blue{background:#048BB6;color:#fff;}
.btn-conner{border-radius:0.5rem;}
.mt-2{margin-top:2rem;}
/*字体*/
@font-face {
    font-family: "Capsuula";
    src: url("../fonts/Capsuula.eot"); /* IE9 */
    src: url("../fonts/Capsuula.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/Capsuula.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Capsuula.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../fonts/Capsuula.svg#Capsuula") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
#slides_control{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}