<html ng-app="App">
<head>
    <title>首页</title>
    <meta charset='utf-8'>
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/loading.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/angular1.4.5.js"></script>
    <script src="js/angular-base64-upload.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular-animate1.4.5.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/FSS.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
</head>

<body class="fixBar" ng-controller="main">
<div class="view">
	<div class="topBar">
	    <div class="layoutMid">
	        <div class="nav">
	            <a ui-sref="home" ui-sref-active="active">首页</a>
	            <a ui-sref="article" ui-sref-active="active">文章</a>
	            <a ui-sref="project" ui-sref-active="active" ng-class="{'active':isProject}">项目</a>
	            <a ui-sref="about" ui-sref-active="active">关于我</a>
	            <a ui-sref="admin.addProject" ui-sref-active="active">后台管理</a>
	        </div>
	    </div>
	</div>
	<div id="form-views" class="{{pageClass}} banner" ui-view="main"></div>
</div>
</body>
</html>