<ul rn-carousel class="carousel" rn-carousel-auto-slide rn-carousel-buffered rn-carousel-controls rn-carousel-locked=true rn-carousel-deep-watch>
  <li ng-repeat="image in sportImages">
    <div class="layer" style="background-image: url({{image}});"></div>
  </li>
</ul>