<div class="container">
    <form name="form">
      <div class="input-group">
      	<table class="input-table">
      		<colgroup>
      			<col width="20%" />
      			<col width="60%" />
      			<col width="20%" />
      		</colgroup>
      		<tr>
      			<th>类别：</th>
      			<td><input ng-model="data.type" type="text" class="input" placeholder="项目类别"/></td>
      			<td></td>
      		</tr>
      		<tr>
      			<th>项目名称：</th>
      			<td><input ng-model="data.title" type="text" class="input" placeholder="项目类别"/></td>
      			<td></td>
      		</tr>
      		<tr>
      			<th>项目图片：</th>
      			<td>
      				<div class="upload btn">
      					<label for="file">上传</label>
        				<input ng-change="uploadFiles()" class="form-control" type="file" ng-model="file" name="inputFile" base-sixty-four-input required maxsize="500" accept="image/*">
      				</div>
      			</td>
      			<td>
      				<span ng-class="{true: 'uploaded', false: 'preupload'}[isUploaded]"></span>
      			</td>
      		</tr>
      		<tr>
      			<th>预览地址：</th>
      			<td><input ng-model="data.url" type="text" class="input" placeholder="项目类别"/></td>
      			<td></td>
      		</tr>
      		<tr>
      			<th>源码地址：</th>
      			<td><input ng-model="data.resource" type="text" class="input" placeholder="项目类别"/></td>
      			<td></td>
      		</tr>
      		<tr>
      			<th>描述：</th>
      			<td><textarea ng-model="data.content" rows="5" type="text" class="input" placeholder="项目类别"></textarea></td>
      			<td></td>
      		</tr>
      		<tr>
      			<th></th>
      			<td colspan="2">
      				<a ng-click="send()" class="btn btn-blue btn-conner mt-2" href="javascript:;">确认添加</a>
      			</td>
      		</tr>
      	</table>
        <!--<span class="help-block">
          <a ng-click="file=null" class="btn btn-default">Clear input</a>
        </span>-->
      </div>
    <!--<table class="table table-bordered table-striped">
      <tr>
        <th>filename</th>
        <th>filetype</th>
        <th>filesize (<i><small>KB</small></i>)</th>
        <th>base64</th>
      </tr>
      <tr ng-show="file">
        <td>{{file.filename}}</td>
        <td>{{file.filetype}}</td>
        <td>{{file.filesize / 1000}}</td>
        <td>{{file.base64.substring(0, 30)}}...</td>
      </tr>
      <tr>
        <td colspan="4" ng-show="!file">
          <small><i>No file selected.</i></small>
        </td>
      </tr>
    </table>-->
    <!--<h3>Multiple Files Selection</h3>
      <div class="input-group">
        <label for="file">Select Files</label>
        <span class="help-block">
          <ul>
            <li>required</li>
            <li>minsize = 500</li>
            <li>accept = image/*, .zip</li>
            <li>minnum = 2</li>
          </ul>
        </span>
        <input class="form-control" type="file" ng-model="files" name="files" base-sixty-four-input multiple accept="image/*, .zip" minsize="500" required minnum="2">
        <a ng-click="files=null" class="help-block btn btn-default">Clear input</a>
      </div>
      <div class="alert" ng-class="{'alert-danger': form.files.$invalid, 'alert-success': form.files.$valid}">
        form.files.$error: {{form.files.$error}}<br>
      </div>
    <b>Model Value:</b>
    <table class="table table-bordered table-striped">
      <tr>
        <th>filename</th>
        <th>filetype</th>
        <th>filesize (<i><small>KB</small></i>)</th>
        <th>base64</th>
      </tr>
      <tr ng-repeat="file in files">
        <td>{{file.filename}}</td>
        <td>{{file.filetype}}</td>
        <td>{{file.filesize / 1000}}</td>
        <td>{{file.base64.substring(0, 30)}}...</td>
      </tr>
      <tr>
        <td colspan="4" ng-show="files.length == 0">
          <small><i>No file selected.</i></small>
        </td>
      </tr>
    </table>-->
    </form>
  </div>