<div class="loadding" ng-show="loading">
    <div class="cube1"></div>
    <div class="cube2"></div>
</div>
<div class="layoutMid subPage">
    <div class="row ptb-20">
        <div class="col col-50">
            <div class="info-img">
                <img ng-src="{{data.thumb}}"/>
            </div>
        </div>
        <div class="col sub-info col-50 v-t">
            <h1 class="title">{{data.title}}</h1>
            <p class="line">类别：<span>{{data.type}}</span></p>
            <p class="line">时间：<span>{{data.time}}</span></p>
            <p class="line">详情：<span>{{data.introduce}}</span></p>
        </div>
    </div>
    <h2 class="module-title"><span class="text">评价：<i>Project description</i></span></h2>
    <div class="ptb-20 introduce">
        <p>{{data.introduce}}</p>
    </div>
</div>