<div class="loadding" ng-show="loading">
    <div class="cube1"></div>
    <div class="cube2"></div>
</div>
<div class="layoutMid pt-43" ng-show="projectMain">
    <ul class="list">
        <li ng-repeat="item in data">
            <div class="list-item" ng-class="{'web':(item.type=='web')}">
                <span class="thumb" ui-sref="articleInfo({ id: item.id })"><img ng-src="{{item.thumb}}"/></span>
                <a class="title" ui-sref="article({ id: item.id })">{{item.title}}</a>
                <p>类别：{{item.type}}</p>
                <p>时间：{{item.time}}</p>
            </div>
        </li>
    </ul>
    <div class="load-more layoutMid" ng-show="loadTextShow" ng-click="loadMore()">
        <div class="spinner" ng-show="loadmore">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <span ng-class="{'nodata':!hasdata}">{{loadText}}</span>
    </div>
</div>
<div ui-view="projectInfo"></div>
